body {
    background-color: #b4b4b4;
    color: white;
}

h1 {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#main {
    position: absolute;
    background-color: #414141;
    width: 975px;
    height: auto;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Zeile {
    height: 40px;
    border-bottom: solid black 1px;
}

.inline {
    display: inline;
}

.AufgabeDazu, .Aufgabe, .ErledigteAufgabe {
    display: flex;
    align-items: center;
    height: 100%;
}

.Aufgabe img, .ErledigteAufgabe img {
    width: 28px;
    height: auto;
}

.KreisleerButton {
    border-radius: 50%;
    height: 24px;
    width: 24px;
    border: #BDBDBD solid 1px;
    background-color: #414141;
}

p, img, .Aufgabe {
    margin-left: 20px;
    margin-top: 0;
    margin-bottom: 0;
}

button {
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
}

.ErledigteAufgabe p {
    text-decoration: line-through;
    text-decoration-color: black;
    text-decoration-thickness: 3px;
}

.Muelleimer {
    margin-left: 700px;
}

/* Text EingabeFeld durch js hinzugefügt */

.TextEingabe[type="text"], textarea {
    box-sizing: border-box;
    background-color: #414141;
}